@use "../../styles.scss";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

img{
  height: 8vh;
  width: 8vh;
  background-color: transparent;
  border-radius: 50%;
}

header{
  position: sticky;
  top: 0;
  padding: 1vh 3vw;
  z-index: 5;
  background-color: styles.$primary-color;
}


nav{
  @include styles.flex-row-between
}

ul{
  @include styles.flex-row-center($gap: 2vw);
  font-family: styles.$hollow-font;
  font-size: 1.4rem;

  li a{
    color: #fff;
  }
}
